---
import { getCollection, render, type CollectionEntry } from "astro:content";
import gistsMarkdownComponents from "./_components.jsx";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Nav from "@/components/Nav.astro";

export async function getStaticPaths() {
  const gists = await getCollection("gists");
  return gists.map((gist) => ({
    params: { id: gist.id },
    props: { gist },
  }));
}

interface Props {
  gist: CollectionEntry<"gists">;
}

const { gist } = Astro.props;
const { Content } = await render(gist);
---

<BaseLayout title={gist.data.title} description={gist.data.description}>
  <Nav />
  <main class="max-w-[77ch] mx-auto pb-4 px-4 pt-8">
    <h1 class="text-3xl font-bold tracking-tight">{gist.data.title}</h1>
    <p class="text-lg font-medium text-primary">
      {gist.data.date.toDateString()}
    </p>
    <Content components={gistsMarkdownComponents} } />
    <hr class="my-2 border-muted-foreground/60" /><span
      class="text-muted-foreground dark:text-muted-foreground/70"
      >I guess that is the gist of it...</span
    >
  </main>
</Layout>
